/.idea/
env/
LSOAs/
Data_outcomes/
Data_streets/
.Rproj.user
.RData
.Rhistory
*.Rproj
.RData
.Rhistory
.Rproj.user/
Data_outcomes/
Data_streets/
JBG050-Data-Challenge-2-Group15.Rproj
LSOAs/
env/
/shelf/
/workspace.xml
__pycache__/
